asgiref==3.2.10
backcall==0.2.0
bcrypt==3.2.2
certifi==2020.6.20
cffi==1.15.0
chardet==3.0.4
charset-normalizer==2.0.12
colorama==0.4.3
colorlog==4.2.1
coreapi==2.3.3
coreschema==0.0.4
cryptography==37.0.2
decorator==4.4.2
Django==3.1
django-cors-headers==3.4.0
django-filter==2.3.0
djangorestframework==3.11.1
djangorestframework-jwt==1.11.0
djangorestframework-yaml==2.0.0
drf-yasg==1.17.1
filetype==1.0.13
har2case==0.3.1
httprunner==2.3.0
idna==2.10
importlib-metadata==4.11.4
inflection==0.5.0
ipython==7.17.0
ipython-genutils==0.2.0
itypes==1.2.0
jedi==0.17.2
Jinja2==2.11.2
jsonpath==0.82
Markdown==3.2.2
MarkupSafe==1.1.1
mysqlclient==2.0.1
packaging==20.4
paramiko==2.11.0
parso==0.7.1
pickleshare==0.7.5
prompt-toolkit==3.0.6
pycparser==2.21
Pygments==2.6.1
PyJWT==1.7.1
PyNaCl==1.5.0
pyparsing==2.4.7
pytz==2020.1
PyYAML==5.3.1
requests==2.24.0
requests-toolbelt==0.9.1
ruamel.yaml==0.16.10
ruamel.yaml.clib==0.2.0
six==1.15.0
sqlparse==0.3.1
traitlets==4.3.3
typing_extensions==4.2.0
uritemplate==3.0.1
urllib3==1.25.10
wcwidth==0.2.5
zipp==3.8.0
